<div class = "image-splash">
  <div class = "splash-login-container">
    <div class="section no-pad-bot splash-text">
      <div class="container">
        <br><br>
        <h1 class="header center white-text"><br/>Public Engagement Web Map</h1>
        <h5 class ="center white-text">Plotting City Issues in San Francisco</h5>
        <div class="row center"></div>
        <div class="row center">
          <a href="/posts" id="download-button" class="btn-large waves-effect waves-light indigo lighten-2">Current Issues</a><br/>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer indigo lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Text here
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a class="white-text" href="#!">Link 1</a>
          </li>
          <li>
            <a class="white-text" href="#!">Link 2</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
