<div class = "image-splash">
  <div class = "splash-login-container">
    <div class="section no-pad-bot splash-text">
      <div class="container">
        <br><br>
        <h1 class="header center white-text"><br/>Public Engagement Web Map</h1>
        <h5 class ="center white-text">Plotting City Issues in San Francisco</h5>
        <div class="row center"></div>
        <div class="row center">
          <a href="/posts" id="download-button" class="btn-large waves-effect waves-light indigo lighten-2">Current Issues</a><br/>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer indigo lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="white-text">Created by Ryan Barrett</h6>
        <br>
        <a class="grey-text text-lighten-4" href = "https://github.com/ryan-barrett" target = "_blank">-->Github</a>
        <br><br>
        <a class="grey-text text-lighten-4" href = "https://www.linkedin.com/in/ryan-barrett~/" target = "_blank">-->Linkedin</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>
