@import "materialize";
// @import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Fredericka+the+Great";

.image-splash {
  padding: 40px;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  min-height: 700px;
  background-size: cover;
  background-position: top;
  background-image: url("https://www.homeadvisor.com/images/consumer/hhi/hero-photos/city/SanFrancisco.jpg");
}

.splash-login-container {
  text-align: center;
  z-index: 1000;
  margin: auto;
}

.login-container {
  position: relative;
  width: 30%;
  text-align: center;
  left: 34%;
  top: 150px;
}
